@import "../Global/scss/inc/variables";

.post {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -ms-flex-direction: column;
  flex-direction: column;

  &-title {
    font-size: 24px;
  }

  &-btn {
    background-color: $color-blue;
    color: $color-white;
  }

  &-btns {
    margin-top: auto;
    padding-top: 10px;
  }
}