// ===========
// Proyecto:
// Fecha Inicio:
// Email Desarrollador:
// ===========

@import "./../inc/variables";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-color: $color-white;
}
